/* Resetting default margin, padding, and box-sizing for HTML and body elements */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling anchor tags to remove underline and set text color */
a {
  text-decoration: none;
  color: black;
}

/* Styling for scrollbar width and height */
/* Chrome specific styling */
::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

/* Styling for scrollbar thumb */
/* Chrome specific styling */
::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

/* Styling for scrollbar track */
/* Chrome specific styling */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Styling for category button on hover */
.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

/* Styling for category button's span on hover */
.category-btn:hover span {
  color: white !important;
}

/* Styling for a specific class 'react-player' */
.react-player {
  height: 77vh !important;
  width: 100% !important;
}

/* Styling for search bar */
.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

/* Styling for category button */
.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

/* Media query for screen width up to 900px */
@media screen and (max-width: 900px) {
  /* Adjusting margin for category button */
  .category-btn {
    margin: 10px;
  }
}

/* Media query for screen width up to 800px */
@media screen and (max-width: 800px) {
  /* Hiding element with class 'copyright' */
  .copyright {
    display: none !important;
  }
}

/* Media query for screen width up to 600px */
@media screen and (max-width: 600px) {
  /* Styling for horizontal scrolling */
  .scroll-horizontal {
    overflow: auto !important;
  }

  /* Adjusting height for react-player */
  .react-player {
    height: 45vh !important;
  }

  /* Adjusting width for search bar */
  .search-bar {
    width: 200px;
  }
}
